@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  background: linear-gradient(
    90deg,
    rgb(55, 47, 215) 5%,
    rgba(233, 195, 186, 1) 24%,
    rgba(214, 145, 48, 1) 71%,
    rgba(215, 202, 160, 1) 82%,
    rgba(0, 212, 255, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  font-family: "Roboto Slab", sans-serif;
  font-size: 1rem;
}

.overlay {
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: 200ms ease-in-out;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: fill;
  overflow: hidden;
}
.logoutdiv {
  visibility: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 100ms ease-in-out;
  position: fixed;
  width: 100%;
  background-color: #606060;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 101;
  gap: 2rem;
}
.logoutp {
  color: #fff;
  font-size: 2rem;
  margin: 0;
}
.logoutbtn {
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
  border-radius: 10px;
}
.logoutbtn:hover {
  background-color: #fff;
  color: #606060;
}

.success-message {
  width: 100%;
  position: fixed;
  background-color: #e74c3c;
  top: 0;
  left: 0;
  
  opacity: 0;
  transition: 0s, 0.5s linear;
}

.smessage {
  text-align: center;
  color: white;
  font-family: inherit;
  font-size: 1.5rem;
  
}
img {
  width: 200px;
  height: 100px;
  margin: 30px;
  position: sticky;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 10px;
}

.header {
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  padding-right: 50px;
}

.header a {
  padding-top: 30px;
  padding-left: 30px;
  font-weight: 700;
  color: black;
  font-size: 1rem;
  font-family: "Roboto Slab", sans-serif;
  text-decoration: none;
}

.header a:hover {
  color: rgba(0, 0, 0, 0.245);
}
button {
  background-color: transparent;
  font-family: "Roboto Slab", sans-serif;
  border-radius: 5px;
  border: none;
}

input {
  height: 20px;
  border-radius: 5px;
}
textarea {
  border-radius: 5px;
}
select {
  border-radius: 5px;
}

.footer {
  background-color: rgba(0, 0, 0, 0.178);
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 2.5rem;
  bottom: 0;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  z-index: 99;

}
.footer a {
  text-decoration: none;
  padding-top: 10px;
  padding-left: 30px;
  font-size: 1rem;
  color: #fff;
  font-family: "Cedarville Cursive", sans-serif;
  font-weight: 600;
}

.footer a:hover {
  color: #cecbcb;
}

small {
  display: flex;
  justify-content: center;
}

.tablediv {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.page-container {
  position: relative;
  min-height: 100vh;
}


.table {
  width: 95%;
}

table,
th,
tr,
th,
td {
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.add {
  cursor: pointer;
}

.add:hover {
  background-color: #fff;
}

h1 {
  text-align: center;
}

.logo {
  position: fixed;
  padding-top: 10px;
}
.logo img {
  background-color: transparent;
}

svg {
  width: 300px;
  height: 300px;
}

.form-control small {
  visibility: hidden;

  bottom: 0;
  left: 10px;
}

.form-control.error small {
  visibility: visible;
  color: #e74c3c;
}

/* progress bar */
.loading-container {
  border-radius: 8px;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  row-gap: 30px;
}

.loading {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: conic-gradient(rgba(0, 212, 255, 1) 3.6deg, #ededed 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading::before {
  content: "";
  position: absolute;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: #fff;
}

.progress {
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  color: rgba(0, 212, 255, 1);
}
.text {
  font-size: 0.9rem;
  font-weight: 500;
  color: #606060;
}

@media only screen and (max-width: 600px) {
  img {
    width: 100px;
    height: 50px;
  }
  table,
  th,
  tr,
  th,
  td {
    font-size: 0.8rem;
  }
}
